<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/files/styles/project-page.css">
    <link rel="stylesheet" href="../static/files/assets/fontawesome-free-6.5.2-web/css/all.css">

</head>
<body>
    <header>
        <a href="./index.html" class="navigation"><i class="fa fa-arrow-left"></i></a>
        <div class="logo">John Garang</div>
    </header>
    <section class="projects">
        <h1 class="title">Projects</h1>
        <div class="project-container">
            <div class="container">
                <div class="project">
                    <img src="../static/files/assets/Screenshot_4-11-2024_35124_127.0.0.1.jpeg" alt="website snapshot">
                    <div class="project-body">
                        <p>With a UX design that elevates user journey, this portfolio website showcases projects and skills and meets all the design principles necessary to attract a large volume of user traffic in the internet. Utilized HTML, CSS, and JavaScript for the front-end, and Flask for server-side functionalities.</p>
                        <a href="#">view project</a>
                    </div>
                </div>
                <div class="empty"></div>
            </div>
            <div class="container">
                <div class="empty"></div>
                <div class="project">
                    <img src="../static/files/assets/Screenshot_4-11-2024_4838_127.0.0.1.jpeg" alt="website snapshot">
                    <div class="project-body">
                        <p>Created various Charity websites for NGO organisations. Utilized HTML, CSS and JavaScript for the front-end, and Flask for back-end, intergrated secure payment Gateways, and Api’s.</p>
                        <a href="#">view project</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="project">
                    <img src="../static/files/assets/Screenshot_4-11-2024_41733_127.0.0.1.jpeg" alt="">
                    <div class="project-body">
                        <p>Developed a full-stack e-commerce website using HTML, CSS, JavaScript, and Bootstrap for the front-end, and Flask with MySQL for the back-end. Designed the user interface in Figma.</p>
                        <a href="#">view project</a>
                    </div>
                </div>
                <div class="empty"></div>
            </div>
            <div class="container">
                <div class="empty"></div>
                <div class="project">
                    <img src="../static/files/assets/Screenshot_4-11-2024_34653_127.0.0.1.jpeg" alt="website snapshot">
                    <div class="project-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad itaque quo labore alias minima quod a, quas officia modi explicabo aliquam! Qui ipsum, voluptatibus obcaecati blanditiis cumque tenetur rerum reprehenderit.</p>
                        <a href="#">view project</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="copyright">
            <p>&copy; 2024 John Garang. All rights reserved</p>
        </div>
    </footer>
</body>
</html>